
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  color:#525c65;
  font-weight: 300;
}

hr {
  color:#008ba0;
  background-color:#008ba0;
  height: 2px;
}

.logo {
  width:100px;
  height:100px;
  margin-top: 20px;
  margin-left: 50px;
}

.title-super {
  font-size: 50px;
}

.title {
  text-align: right;
  font-weight: 100;
}

.name {
  text-transform: uppercase;
}

.sub-heading {
  font-size: 18px;
}

h2.title {
  text-align: left;
}

.main-img{
  width: 960px;
  height: 350px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.img-block {
  width: 300px;
  height: 200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.links {
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding-bottom: 20px;
  line-height: 3.5;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a, button {
  display: inline-block;
  min-width: 48px;
  min-height: 48px;
}

.footer-color {
  color: black;
  background-image: linear-gradient(to bottom right, #F7F7F7, #EAFBFF);
}

@media screen and (max-width:900px) {
  .title, h2.title {
    text-align: center;
  }
  .logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
}
